body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#text{
  font-size: 28px;
}
.btn{
  color: white !important;
  float: right;
}
.tweet-box {
  border-radius: 2px;
  color: white !important;
  font-size: 24px !important;
  padding: 5px;
  margin: 2px;
}
#quote-box {
  background: white;
  border-radius: 3px;
  width: 450px;
  padding: 40px 50px;
  background-color: #fff;
}
#body-style-0, .box-0 .btn, #tweet-quote-0 {
  background-color: rgb(251, 105, 100);
  color: rgb(251, 105, 100);
}

#body-style-1,.box-1 .btn, #tweet-quote-1 {
  background-color: rgb(39, 174, 96);
  color: rgb(39, 174, 96);
}

#body-style-2,.box-2 .btn, #tweet-quote-2 {
  background-color: rgb(155, 89, 182);
  color: rgb(155, 89, 182);
}

#body-style-3,.box-3 .btn, #tweet-quote-3 {
  background-color: rgb(44, 62, 80);
  color: rgb(44, 62, 80);
}

#body-style-4,.box-4 .btn, #tweet-quote-4 {
  background-color: rgb(119, 177, 169);
  color: rgb(119, 177, 169);
}

#body-style-5,.box-5 .btn, #tweet-quote-5 {
  background-color: brown;
  color: brown;
}